body {
    background-color: lightblue;
}

.container-navbar {
    background-color: beige;
}

.ul-navbar {
    background-color: bisque;   
    justify-content: space-around;
}

.li-navbar {
    border: 1px solid whitesmoke;
    list-style-type: none;
    padding: 10px;
}

h1{
 font-size: 20px;
 margin-bottom: 5px;
 background-color: bisque;
 border:2px solid beige;
 border-radius:6px;
 display: inline-block
}

.about {
    border: 1px solid #dcdde1;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
.about h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2f3640;
  }
  .about p {
    font-size: 16px;
    line-height: 1.6;
    color: #2f3640;
  }
  